packages:
  yum:
    krb5-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "33A77W53XXV6CFEAcZ6jsycctBQErZBo99losPvZ"
    MASTER_KEY: "cll7n9aL1ocnbOLo39cHwOtsbPLSQMpqRxaxWGK2"
    FILE_KEY: "29320068-24a0-4ghf-8832-7e1817767f93"
    DATABASE_URI: "mongodb://iamalroberts:41469353@ds061355.mlab.com:61355/stand"
    NODE_ENV: "production"
    SERVER_URL: "http://Sample-env.mvinzft2pu.us-east-1.elasticbeanstalk.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"